<footer class="footer">
  <div class="container">
    <p>Built by <a href="{{ site.authorUrl }}">{{ site.author }}</a> · Released under <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GPL v3.0</a></p>
  </div>
</footer>