<div class="status-bar">
  <div class="status-item"><span class="dot"></span> {{ site.status }}</div>
  <div class="status-item">Version {{ site.version }}</div>
  <div class="status-item">{{ site.license }}</div>
  <div class="status-item">{{ site.commitCount }} commits</div>
  <div class="status-item"><span class="dot yellow"></span> Now boarding</div>
</div>