[Unit]
Description=Flight Tracker
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 20
ExecStart=__HOME__/FlightTracker/env/bin/python __HOME__/FlightTracker/flight-tracker.py
WorkingDirectory=__HOME__/FlightTracker
StandardOutput=append:__HOME__/plane.log
StandardError=append:__HOME__/plane.log
Restart=on-failure
User=__USER__
Environment=PYTHONUNBUFFERED=1
Nice=-10
IOSchedulingClass=realtime
IOSchedulingPriority=0

[Install]
WantedBy=multi-user.target